### ekf_odom_only.yaml ###
ekf_filter_node_global:
  ros__parameters:
    frequency: 30.0
    two_d_mode: true
    publish_tf: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom # mapではなくodomをworldとする（map->odomはstatic_tfで繋ぐため）

    # --- 入力1: エンコーダー (足回り) ---
    odom0: /odom
    odom0_config: [false, false, false,
                   false, false, false,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_differential: false
    odom0_relative: false

    # landmark_pose (pose0) は使用しない
